<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" data-color="primary" id="sidenav-main">
    <!-- Add a wrapper div with full height -->
    <div style="min-height: 100vh;" class="d-flex flex-column">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="{{ url_for('home_blueprint.index') }}">
                <img src="{{ url_for('static', filename='assets/img/pillars.svg') }}" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">BaziCal</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">

        <!-- Make this div scrollable -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main" style="min-height: 0;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if segment == 'lunar_bazi' %}active{% endif %}" href="{{ url_for('home_blueprint.index') }}">
                        <span class="nav-link-text ms-1">Lunar Bazi</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Spacer to push footer to bottom -->
        <div class="flex-grow-1"></div>

        <!-- Footer will stay at bottom -->
        <div class="sidenav-footer mx-3">
            <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
                <div class="full-background" style="background-image: url({{ url_for('static', filename='assets/img/curved-images/white-curved.jpg') }})"></div>
                <div class="card-body text-start p-3 w-100">
                    <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
                        <i class="fas fa-question-circle text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
                    </div>
                    <div class="docs-info">
                        <h6 class="text-white up mb-0">Need help?</h6>
                        <p class="text-xs font-weight-bold">Please check our documentation</p>
                        <a href="https://google.com" target="_blank" class="btn btn-white btn-sm w-100 mb-0">Documentation</a>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary mt-3 w-100 mb-3" href="https://google.com">Upgrade to PRO</a>
        </div>
    </div>
</aside>
